.newDiv {
    margin: 5px;
    height: 200px;
    background-color: aqua;
    text-align: center;
    font-size: large;

}

/* This is a new comment */
/* new comment */

/* This is the first version */

/* This is the second version */